* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100px;
    text-align: center;
    background-color: rgb(10, 253, 172);
}

nav {
    background-color: rgb(53, 253, 186);
}

nav a {
    text-decoration: none;
    color: rgb(71, 71, 71);
    padding: 10px;
}

main {
    background-color: rgb(149, 250, 216);
    padding: 10px;
}

article {
    text-align: center;
    padding: 10px;
}